body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.app {
  border: 1px solid #333;
  padding: 3rem;
  background: #a77464;
}

h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.input {
  border: 1px solid #333;
  border-radius: 0.3em;
  padding: 0.25rem;
  width: 7em;
}

select {
  border: 1px solid #333;
  margin-left: 0.5rem;
  padding: 0.2rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}
